deploy/ironic/logs/
deploy/baremetal-operator/logs/
deploy/cert-manager/logs/
deploy/metal3/scripts/machines-values.yaml
deploy/cluster-api/logs/
deploy/clusters/logs/
env/metal3/logs/
deploy/clusters/addons/
