{
  "nodes": [
    {
      "name": "edge01-node01",
      "ipmi_driver_info": {
        "username": "root",
        "password": "root",
        "address": "10.10.110.11"
      },
      "os": {
        "image_name": "bionic-server-cloudimg-amd64.img",
        "username": "ubuntu",
        "password": "mypasswd"
      }
    },
     {
      "name": "edge01-node02",
      "ipmi_driver_info": {
        "username": "root",
        "password": "root",
        "address": "10.10.110.14"
      },
      "os": {
        "image_name": "bionic-server-cloudimg-amd64.img",
        "username": "ubuntu",
        "password": "mypasswd"
      }
    }
  ]
}
