{
  "nodes": [
    {
      "name": "pod11-node2",
      "ipmi_driver_info": {
        "username": "root",
        "password": "root",
        "address": "10.10.110.12"
      },
      "os": {
        "image_name": "bionic-server-cloudimg-amd64.img",
        "username": "ubuntu",
        "password": "mypasswd"
      }
    },
     {
      "name": "pod11-node3",
      "ipmi_driver_info": {
        "username": "root",
        "password": "root",
        "address": "10.10.110.13"
      },
      "os": {
        "image_name": "bionic-server-cloudimg-amd64.img",
        "username": "ubuntu",
        "password": "mypasswd"
      }
    }
  ]
}
